*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 15px arial;
}



.hidden{
    opacity: 0;
    display: none;
}

.bar-menu{
    position: fixed;
    background-color: aqua;
    width: 40px;
    height: 100%;
    top: 0;
    left: 0;
}

.bar-menu div{
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: min-content;
    height: min-content;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 2px;
}

.bar-menu div:hover{
    cursor: pointer;
}

.bar-menu div:active{
    box-shadow: 1px 1px 1px 0.1px;
}

.bar-menu img{
    position: relative;
    top: 2px;
    left: px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow:0 0 15px 0.5px rgba(0, 0, 0, 0.4);
    width: 35px;
}

.bar-menu img:active{
    width: 33px;
}

.bar-menu #message{
    position: absolute;
    top: 60px;
    left: 2px;
    width: 35px;
    font-size: 35px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 2px;
}

.bar-menu #message:active{
    box-shadow: 1px 1px 1px 0.1px;
    font-size: 33px;
}

.bar-menu #project{
    position: absolute;
    top: 120px;
    left: 2px;
    width: 35px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 2px;
}

.bar-menu #project:active{
    box-shadow: 1px 1px 1px 0.1px;
    font-size: 28px;
}

.bar-menu #contact{
    position: absolute;
    top: 180px;
    left: 2px;
    width: 35px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 2px;
}

.bar-menu #contact:active{
    box-shadow: 1px 1px 1px 0.1px;
    font-size: 28px;
}

.bar-menu img:hover{
    cursor: pointer;
}

.menu{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 40px;
    width: 0;
    height: 100%;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.menu img{
    position: relative;
    top: 15px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.4);
    transition: 0.09s;
}

.menu img:hover{
    transform: scale(1.1);
    transition: 0.09s;
}

.chat {
    position: absolute;
    top: 0;
    left: 40px;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    transition: left 0.3s ease, width 0.3s ease;
    opacity: 1;
    overflow-y: auto;
}

.chat-box-my {
    align-self: flex-start;
    background-color: #dfffe0;
    border: 1px solid #ccc;
    border-radius: 0 25px 25px 25px;
    padding: 12px 18px;
    margin-top: 10px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-box-ux {
    align-self: flex-end;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 25px 25px 0 25px;
    padding: 12px 18px;
    margin-top: 10px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}